.container {
    max-width: ($containerWidth + $containerPadding) + px;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;
  }
  
  body {
  
    font-family: $fontMain;
    font-size: $fontSize + px;
  
    &.locked {
      overflow: hidden;
    }
  }