html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

button {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}